<div ng-controller="voteC as vote" ng-init="vote.getBallotFromUrl()">
  <div class="ballot">
    <div ng-if="!vote.ballot">
      <form ng-submit="vote.getBallot()">
        <span>Please enter the ballot id to vote:</span>
        <input type="text" ng-model="vote.ballotIdInput" placeholder="ballot id" />
        <button>Get Ballot</button>
      </form>
    </div>
    <div ng-show="vote.ballot" class="panel panel-default">
      <div class="panel-heading">
        <h3><span class="text-left">{{vote.ballot.topic}}</span> <span class="pull-right"><small style="color: black">{{vote.ballot.pretty_id}}</small></span></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12" ng-click="vote.submitVote($event)" id="option_1">
            <center><i>{{vote.ballot.option_1}}</i></center>
            <uib-progressbar class="progress-striped active" max="vote.ballot.totalVotes" value="vote.ballot.option_1_votes" type="{{vote.type1}}">{{vote.ballot.option_1_votes}}
            </uib-progressbar>
          </div>
          <div class="col-sm-12" ng-click="vote.submitVote($event)" id="option_2">
            <center><i>{{vote.ballot.option_2}}</i></center>
            <uib-progressbar class="progress-striped active" max="vote.ballot.totalVotes" value="vote.ballot.option_2_votes" type="{{vote.type2}}">{{vote.ballot.option_2_votes}}
            </uib-progressbar>
          </div>
          <div ng-show="vote.ballot.option_3" class="col-sm-12" ng-click="vote.submitVote($event)" id="option_3">
            <center><i>{{vote.ballot.option_3}}</i></center>
            <uib-progressbar class="progress-striped active" max="vote.ballot.totalVotes" value="vote.ballot.option_3_votes" type="{{vote.type3}}">{{vote.ballot.option_3_votes}}
            </uib-progressbar>
          </div>
          <div ng-show="vote.ballot.option_4" class="col-sm-12" ng-click="vote.submitVote($event)" id="option_4">
            <center><i>{{vote.ballot.option_4}}</i></center>
            <uib-progressbar class="progress-striped active" max="vote.ballot.totalVotes" value="vote.ballot.option_4_votes" type="{{vote.type4}}">{{vote.ballot.option_4_votes}}
            </uib-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
